<div class="picker color-picker">
  <div class="color-picker__area">
    <div class="color-picker__marker"></div>
  </div>
  <input type="range" class="color-picker__input color-picker__hue" value="20" min="0" max="360" step="any">
  <div class="color-picker__values">
    <label class="color-picker__value">
      <span>Hex</span>
      <input class="color-picker__input color-picker__field" type="text" readonly>
    </label>
    <label class="color-picker__value">
      <span>R</span>
      <input class="color-picker__input color-picker__field" type="number" min="0" max="255" readonly>
    </label>
    <label class="color-picker__value">
      <span>G</span>
      <input class="color-picker__input color-picker__field" type="number" min="0" max="255" readonly>
    </label>
    <label class="color-picker__value">
      <span>B</span>
      <input class="color-picker__input color-picker__field" type="number" min="0" max="255" readonly>
    </label>
  </div>
</div>
