<div class="popup">
   <div class="popup__top">
    <img width="28" height="28" src="@@webRoot/images/question-circle.svg" alt="">
    <button class="icon-button icon-button--close popup__close"></button>
  </div>
  <h2 class="heading h2">Справка о каком то пункте</h2>
  <p>Данная настройка позволяет выбрать, что будет отображаться в окне виджета до перехода в режим просмотра</p>
  <p>На выбор доступно 2 варианта: Картинка из видео и Видео-предпросмотр</p>
  <img width="200" height="300" class="popup__image" src="@@webRoot/images/video-frame.png" alt="">
  <p>Данная настройка позволяет выбрать, что будет отображаться в окне виджета до перехода в режим просмотра</p>
  <p>На выбор доступно 2 варианта: Картинка из видео и Видео-предпросмотр</p>
</div>
